.game {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.answer {
  flex: 1;
  max-width: 300px;
  min-width: 300px;
  background-color: #4C5454;
  border-radius: 8px;
  color: white;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.answer h2 {
  margin-top: 0px;
}

.answer p {
  margin-block-start: 0px;
}

.answer span {
  font-size: 1.3em;
}

.answer input {
  padding: 7px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 8px; 
  width: 100%;
}

.answer button {
  display: block;
  font-size: 1em;
  border: 1px solid #35A1AE;
  border-radius: 8px;
  width: 50%;
  height: 29px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: none;
  color: white;
}

.answer button:hover,
.answer button:active,
.answer button:focus {
  background: #35A1AE;
  color: white;
}

.answer .aqua {
  color: #75E3EF;
}
