.header-bar {
  text-align: center;
}

.header-bar h1 {
  color: rgb(76, 84, 84);
}

.dash {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.dash h2 {
  font-weight: normal;
  font-size: 1em;
  min-width: 300px;
}

.score {
  display: inline;
  text-align: left;
}

nav {
  padding-top: 18px;
  text-align: center;
  min-width: 210px;
}

nav button {
  background: none;
  color: rgb(76, 84, 84);
  font-size: 0.85em;
  border: solid 1px #35A1AE;
  border-radius: 8px;
  text-decoration: none;
}

nav button:hover,
nav button:active,
nav button:focus {
  background: #35A1AE;
  color: white;
}

.progress-button {
  margin-right: 10px;
}


.logout-msg {
  display: block;
  text-align: center;
}

.aqua {
  color: #35A1AE;
}

.big {
  font-size: 1.5em;
}

@media screen and (min-width: 600px) {
  .dash {
    display: flex;
  }
  .dash h2,
  nav {
    flex: 1
  }
  nav {
    text-align: right;
  }
}
