fieldset {
  border: none;
}

.login-form {
  text-align: left;
  padding-bottom: 20px;
  min-width: 230px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-form label {
  display: inline-block;
  text-align: left;
}

.login-form input {
  padding: 7px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 8px; 
  width: 100%;
} 

.login-form button {
  display: block;
  font-size: 1em;
  border: solid 1px lightgray;
  border-radius: 8px;
  width: 50%;
  height: 29px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-form button:enabled {
  background: none;
  border: 1px solid #35A1AE;
  color: rgb(76, 84, 84);
}

.login-form button:enabled:hover,
.login-form button:enabled:focus,
.login-form button:enabled:active {
  background: #35A1AE;
  color: white;
}

.login-form .form-error {
  color: red;
  display: inline-block;
  /* float: right; */
  font-size: 0.75em;
  line-height: 1.75em;
  margin-left: 5px;
}

@media screen and (min-width: 480px) {
  .login-form {
    width: 30%;
  }
}